/*Typography*/
@font-face {
  font-family: "KPNAccentNormal";
  src: url("../fonts/KPN-Accent-Normal.eot"), url("../fonts/KPN-Accent-Normal.woff") format("woff"), url("../fonts/KPN-Accent-Normal.ttf") format("truetype");
}
@font-face {
  font-family: "KPNAccentBold";
  src: url("../fonts/kpnaccent-bold.eot"), url("../fonts/kpnaccent-bold.woff") format("woff"), url("../fonts/kpnaccent-bold.ttf") format("truetype");
}
@font-face {
  font-family: "KPNSansRegular";
  src: url("../fonts/KPNSans5_.eot"), url("../fonts/KPNSans5_.woff") format("woff"), url("../fonts/KPNSans5_.ttf") format("truetype");
}
@font-face {
  font-family: "KPNSansBold";
  src: url("../fonts/KPNSans7_.eot"), url("../fonts/KPNSans7_.woff") format("woff"), url("../fonts/KPNSans7_.ttf") format("truetype");
}
/* line 13, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/style.scss */
* {
  font-family: "KPNAccentNormal";
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: inherit;
  color: inherit;
  font-family: inherit;
}
/* line 26, ../sass/style.scss */
a:hover, a:focus {
  text-decoration: inherit;
  color: inherit;
}

/* line 32, ../sass/style.scss */
h3 {
  font-family: "KPNSansBold";
  font-size: 18px;
  margin-top: 0;
  padding: 10px;
}

/* line 41, ../sass/style.scss */
#community-dashboard {
  background: url(../img/Background-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 52, ../sass/style.scss */
.nps-container {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 900;
  margin: 0 15px;
}

/* line 59, ../sass/style.scss */
.row-logo, .row-email, .nps-score {
  margin-bottom: 30px;
}

/* line 63, ../sass/style.scss */
.nps-submit {
  margin: 25px 0;
}

/* line 67, ../sass/style.scss */
.logo {
  width: 150px;
}

/* line 71, ../sass/style.scss */
.row-email label {
  font-size: 18px;
  margin-right: 20px;
}

/* line 77, ../sass/style.scss */
ul.nps-list {
  list-style: none;
}

/* line 81, ../sass/style.scss */
input.nps-score {
  visibility: hidden;
}
/* line 84, ../sass/style.scss */
input.nps-score:checked + label {
  background-image: -moz-linear-gradient(top, #50B9FF, #09f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50B9FF), to(#09f));
  background-image: -webkit-linear-gradient(top, #50B9FF, #09f);
  background-image: -o-linear-gradient(top, #50B9FF, #09f);
  background-image: linear-gradient(to bottom, #50b9ff, #0099ff);
  background-repeat: repeat-x;
  background-color: #50B9FF;
  -webkit-appearance: none;
  color: #fff !important;
}

/* line 97, ../sass/style.scss */
.nps-score label {
  cursor: pointer;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 3px;
}

/* line 104, ../sass/style.scss */
.btn-kpn {
  background-image: -moz-linear-gradient(top, #50B9FF, #09f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50B9FF), to(#09f));
  background-image: -webkit-linear-gradient(top, #50B9FF, #09f);
  background-image: -o-linear-gradient(top, #50B9FF, #09f);
  background-image: linear-gradient(to bottom, #50b9ff, #0099ff);
  background-repeat: repeat-x;
  background-color: #50B9FF;
  -webkit-appearance: none;
  color: #fff !important;
  padding: 10px 30px;
}

/* line 120, ../sass/style.scss */
.message-email {
  display: inline;
  background-color: transparent;
  border: 0;
  color: red;
}

/* line 127, ../sass/style.scss */
.message-nps {
  color: red;
  border: none;
  background-color: transparent;
}

/* line 134, ../sass/style.scss */
.input-email-alert, .nps-q-a-alert {
  border: 1px solid red;
}
