/*Typography*/

@font-face {
	font-family: "KPNAccentNormal";
	src: url('../fonts/KPN-Accent-Normal.eot'),
       url('../fonts/KPN-Accent-Normal.woff') format('woff'), 
       url('../fonts/KPN-Accent-Normal.ttf')  format('truetype')
}

@font-face {
	font-family: "KPNAccentBold";
	src: url("../fonts/kpnaccent-bold.eot"),
		url('../fonts/kpnaccent-bold.woff') format('woff'), 
       	url('../fonts/kpnaccent-bold.ttf')  format('truetype')
}

@font-face {
	font-family: "KPNSansRegular";
	src: url("../fonts/KPNSans5_.eot"),
		url('../fonts/KPNSans5_.woff') format('woff'), 
       	url('../fonts/KPNSans5_.ttf')  format('truetype')
}

@font-face {
	font-family: "KPNSansBold";
	src: url("../fonts/KPNSans7_.eot"),
		url('../fonts/KPNSans7_.woff') format('woff'), 
       	url('../fonts/KPNSans7_.ttf')  format('truetype')
}

