@import 'fonts';
@import 'compass';

// General colors

$brand-color: #009900;
$brand-color-secondary: #09f;
$salesforce-darkblue: #15335c;
$salesforce-lightblue: #019dda;
$brand-background: rgba(255,255,255,0.7);

// General styling
html, body {
  height: 100%;
}

* {
  font-family: "KPNAccentNormal";
}

a {
	text-decoration: inherit;
	color: inherit;
	font-family: inherit;

	&:hover, &:focus {
		text-decoration: inherit;
		color: inherit;
	}
}

h3 {
		font-family: "KPNSansBold";
		font-size: 18px;
		margin-top: 0;
    padding: 10px
	}

// KPN Dashboard

#community-dashboard {
	background: url(../img/Background-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
  justify-content: center;
}

.nps-container {
	padding: 50px;
	background-color: $brand-background;
	z-index: 900;
	margin: 0 15px;
}

.row-logo, .row-email, .nps-score {
	margin-bottom: 30px;
}

.nps-submit {
	margin: 25px 0;
}

.logo {
	width: 150px;
}

.row-email label {
	font-size: 18px;
	margin-right: 20px;
}
// nps-input

ul.nps-list {
   list-style: none;
}

input.nps-score {
  visibility:hidden;

  &:checked + label {
  	background-image: -moz-linear-gradient(top, #50B9FF, #09f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50B9FF), to(#09f));
    background-image: -webkit-linear-gradient(top, #50B9FF, #09f);
    background-image: -o-linear-gradient(top, #50B9FF, #09f);
    background-image: linear-gradient(to bottom, #50B9FF, #09f);
    background-repeat: repeat-x;
    background-color: #50B9FF;
    -webkit-appearance: none;
    color: #fff !important;
	}
}

.nps-score label {
  cursor: pointer;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 3px;
}

.btn-kpn {
	background-image: -moz-linear-gradient(top, #50B9FF, #09f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50B9FF), to(#09f));
    background-image: -webkit-linear-gradient(top, #50B9FF, #09f);
    background-image: -o-linear-gradient(top, #50B9FF, #09f);
    background-image: linear-gradient(to bottom, #50B9FF, #09f);
    background-repeat: repeat-x;
    background-color: #50B9FF;
    -webkit-appearance: none;
    color: #fff !important;
    padding: 10px 30px;
}


// Alerts

.message-email{
	display: inline;
	background-color: transparent;
	border: 0;
	color: red;
}

.message-nps {
	color: red;
	border: none;
	background-color: transparent;

}

.input-email-alert, .nps-q-a-alert {
	border: 1px solid red;
}